.instagramers {
  margin: 0 auto 3%;
  border: 0.3rem solid;
  border-color: #f9943b;
  width: 20%;
  img{
    object-fit: cover;
    width: 100px;
  }
}
.carousel__text {
  color: black;
}
.instagramers{
  min-width: 100px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
  
}
