$color-sesion: #F9943B;

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__img{
        width: 30px;
    }
    &__section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    &__link{
        text-decoration: none;
        color: black;
        &:hover{
            color: $color-sesion;
        }
    }
}

.restaurants{
    &__section{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap:50px;
        }
    &__cards{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 4px 4px 4px gainsboro;
        &:hover{
            box-shadow: 4px 4px 4px 4px $color-sesion;
        }

    }
  
}
.restaurants__imgs{
    width: 190px;
    height: 190px;
    margin-bottom: 20px;
}

